.disabled{
	opacity: 0.6;
	cursor: no-drop;
	pointer-events: none;
}
.btn-box{
	display: inline-block;
	padding: 0.4rem 1.25rem;
	border-radius: 2.5rem;
	text-align: center;
    font-size: 0.8rem;
    color: #fff;
    background-color: var(--main-color);
    background-image: linear-gradient(90deg, rgba(167,209,41,0.0) 0%, rgba(167,209,41,0.5) 100%);
    white-space: nowrap;
    width: 100%;
}
.btn-box:active{opacity: 0.75;}
.app-toast-box{
	position:fixed;
	bottom: 20vh;
	left: 0%;
	max-width: 90%;
	z-index:88888888;
	padding: 0.6rem 1rem;
	background-color: rgba(0,0,0,0.75);
	color: #fff;
	opacity: 0;
	transition: opacity 0.5s;
	border-radius: 0.5rem;
	font-size: 0.8rem;
    word-break: break-all;
}
.page-limit-width{
    background-color: #eee;
}
.page-limit-width > .content-cage{
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    height: var(--current-window-height);
    overflow: auto;
}
.fixed-limit-width{
    position: fixed;
    z-index: 8;
    max-width: 600px;
    left: max(calc(50vw - 300px), 0px);
}