@keyframes btn-box-ajaxing-kf {
	from{background-position:100% 50%}
	to{background-position:0% 50%}
}

.disabled{
	opacity: 0.6;
	cursor: no-drop;
	pointer-events: none;
}
.btn-box{
	display: inline-block;
	padding: 0.4rem 1.25rem;
	border-radius: 2.5rem;
	text-align: center;
    font-size: 0.8rem;
    color: #fff;
    background-color: var(--main-color);
    background-image: linear-gradient(90deg, rgba(167,209,41,0.0) 0%, rgba(167,209,41,0.5) 100%);
    white-space: nowrap;
    width: 100%;
    user-select: none;
}
.btn-box:active{
    opacity: 0.75;
}
.btn-box.ajaxing{
    background-image:repeating-linear-gradient(135deg, rgba(167,209,41,0.0) 0%, rgba(167,209,41,0.7) 25%, rgba(167,209,41,0.0) 50%);
    background-size:200% 100%;
    animation:btn-box-ajaxing-kf 1s ease infinite;
}
.app-toast-box{
	position:fixed;
	bottom: 20vh;
	left: 0%;
	max-width: 90%;
	z-index:88888888;
	padding: 0.6rem 1rem;
	background-color: rgba(0,0,0,0.75);
	color: #fff;
	opacity: 0;
	transition: opacity 0.5s;
	border-radius: 0.5rem;
	font-size: 0.8rem;
    word-break: break-all;
}
.alert-confirm-container{
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 200ms;
}
.alert-confirm-container.showup{
    opacity: 1;
}
.alert-confirm-container.showup > .alert-confirm-dialog{
    transform: scale(1) translate(0, 0);
}
.alert-confirm-dialog{
    width: min(80%,20rem);
    background-color: #fff;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
    overflow: hidden;
    transform: scale(0.8) translate(0, 20%);
    transform-origin: 50% 0%;
    transition: transform 300ms;
}
.alert-confirm-msg{
    padding:1.5rem 1rem;
}
.alert-confirm-yes{
    display: block;
    width: 100%;
    padding: 0.7rem;
    font-weight: bold;
    border-top: 0.05rem solid #f3f3f3;
    background-color: transparent;
    font-size: inherit;
}
.alert-confirm-yes:active{
    background-color: #f6f6f6;
}
.page-limit-width{
    background-color: #eee;
}
.page-limit-width > .content-cage{
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    height: var(--current-window-height);
    overflow: auto;
}
.page-limit-width > .content-cage.no-tbpd{
    padding: 0 1rem;
}
.fixed-limit-width{
    position: fixed;
    z-index: 8;
    max-width: 600px;
    left: max(calc(50vw - 300px), 0px);
}